geopandas==0.10.2
matplotlib==3.2.2
numpy==1.19.5
pandas==1.3.5
requests==2.23.0
seaborn==0.11.2
session_info==1.0.0
sklearn
torch
torchvision
tqdm==4.62.3
IPython==5.5.0
jupyter_client
jupyter_core
notebook
pytest
